/*~~~~~~~~~ヘッダーとフッターはCOMMON.css~~~~~~~~~~*/
/*=======メイン========*/
/*パンくずリスト*/
main{
    margin: 0;
}
.breadcrumb {
    font-size: 0.9rem;
    margin-bottom: 16px;
    margin: 0 80px;
}
.breadcrumb ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.breadcrumb li {
    color: #555;
}
.breadcrumb li+li::before {
    content: ">";
    padding: 0 8px;
    color: #aaa;
}
/*写真*/
.main-top {
    width: 100%;
    height: 300px;
    background-size: 100% 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* 繰り返しなし */
}
.main-top img {
    width: 100vw;         /* 横幅を画面いっぱいに */
    height: 300px;        /* 高さを固定 */
    object-fit: cover;    /* 縦横比を保ちつつ、はみ出す部分を切り取る */
    display: block;       /* 余計な隙間をなくす */
}
/*最新ニュース*/
.main-bottom {
    background-color: #f5f5f5;
}
.year-title {
    margin: 0px 90px ;
    align-items: center;
    font-size: 1.2rem;
    color: crimson;
}
.link-history {
    margin: 0px 90px;
    font-size: 1rem;
    color: #00aa7d;
    text-decoration: none;
}
.news-list {
    padding: 0px;
}
.news-item {
    margin: 0px 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}
.news-date {
    font-size: 0.9rem;
    color: #888;
    margin-top: 0;
    margin-bottom: 0;
}
.news-title {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 12px;
}
.news-photo {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 0 12px 12px 0;
    border-radius: 4px;
}
.news-text {
    font-size: 1rem;
    line-height: 1.6px;
}
@media (max-width: 600px) {
    .news-photo {
        float: none;
        max-width: 100%;
        margin: 0 0 12px 0;
        display: block;
    }
}